#how-to{
  background-color: #dddff1;
  color: black;
}

#utterance{
  align-items: center;
}

#headerimg{
  display: flex;
  align-items: center;
  justify-content: center;
}


#sub{
background-color: #b9e99a;
}
